<article class="blog">
    <div class="blog__content">
        <div class="blog__body">
            <h3 class="blog__headline">{{blog.overviewTitle|length ? blog.overviewTitle : blog.title}}</h3>

            {% if blog.showDate %}
            <time class="blog__date" datetime="{{blog.postDate|date('m-d-Y')}}">{{blog.postDate|date('m/d/Y')}}</time>
            {% endif %}

            {% if blog.redactor|length %}
                {% if blog.redactor|length > 100 %}
                <p>{{blog.redactor|striptags|slice(0, 100) ~ '...'}}</p>
                {% else %}
                {{blog.redactor}}               
                {% endif %}

            {% else %}
                {% if blog.intro|length > 100 %}
                <p>{{blog.intro|striptags|slice(0, 100) ~ '...'}}</p>
                {% else %}
                {{blog.intro}}
                {% endif %}
            {% endif %}

            <a class="blog__link" href="{{blog.getUrl()}}">{{"Bekijk blog"|t}}</a>
        </div>

        <div class="blog__media">
            {% set image = blog.overviewImage|default(fallback.image)|first %}
            <picture class="blog__picture">
                <source media="(max-width: 769px)" srcset="{{image.getUrl('crop1472x908')}} 2x" />
                <source media="(min-width: 769px)" srcset="{{image.getUrl('crop720x444')}} 2x" />
                <img class="blog__image" src="{{image.getUrl('crop1472x908')}} 2x" alt="{{image.alt}}" loading="lazy" />
            </picture>
        </div>
    </div>
</article>