{% set image = item.overviewImage|first %}
{% if image|length <= 0 %}
    {% set image = item.heroImage.one() %}
{% endif %}
{% if useFallback is defined and useFallback %}
    {% if image|length <= 0 %}
        {% set image = fallback.image.one() %}
    {% endif %}
{% endif %}

<article class="card">
    <a class="card__content" href="{{ item.getUrl() }}">
        <div class="card__body">
            <div class="card__head">
                {% if item.title|length %}
                    <h3 class="card__headline">{{ item.overviewTitle|length ? item.overviewTitle : item.title }}</h3>
                {% endif %}
                {% if showDate is defined and showDate %}
                    <time class="blog__date" datetime="{{item.postDate|date('m-d-Y')}}">{{item.postDate|date('j F Y')}}</time>
                {% endif %}
            </div>
            {% if item.intro|length or item.redactor|length %}
                <div class="card__text">{{ item.redactor ? item.redactor : item.intro }}</div>
            {% endif %}
            <div class="button button--primary">
                {{ "Meer lezen"|t }}
            </div>
        </div>

        {% if image %}
            <div class="card__media">
                <picture class="">
                    <source media="(max-width: 769px)" srcset="{{ image.getUrl('crop1472x908') }} 2x"/>
                    <source media="(min-width: 769px)" srcset="{{ image.getUrl('crop720x444') }} 2x"/>
                    <img class="card__image" src="{{ image.getUrl('crop1472x908') }} 2x" alt="{{ image.alt }}"
                         loading="lazy"/>
                </picture>
            </div>
        {% endif %}
    </a>
</article>