{% extends "_layout.html.twig" %}
{% set form = craft.formie.forms({ handle: 'contactForm' }).one() %}

{% block content %}

{{ include('_components/_banner/_banner.html.twig')}}

<div class="container">
    <div class="row">
        <div class="col-full">

            {% if form %}
            <h1>Neem gerust contact met ons op.</h1>


            <h3>Todo: styling form add classes in CMS</h3>
            {{ include('_form/_form.html.twig')}}

            {% endif %}

        </div>
    </div>
</div>



{# {{ include('/_pages/_contact/_partials/_banner-contact.html.twig')}} #}
{# {{ include('/_pages/_contact/_partials/_contact-section.html.twig')}} #}
{# {{ include ('/_pages/_contact/_partials/_call-to-action-contact.html.twig')}} #}

{% endblock %}