<div class="container">
	<div class="row">
		<div class="col-full">
			<div class="cta-block {% if block.blockBgColor %} {{ block.blockBgColor }} {% endif %} ">
				<div class="cta-content">
					<div class="cta-heading">
						<h3 class="leading-cta">
							{{block.blockTitle}}
						</h3>
					</div>
					<div class="cta-body">
						<div class="cta-text">
							<p>
								{{block.blockText}}
							</p>
						</div>
						<div class="cta-button">
							{{ block.blockCta.getLink() }}
						</div>
					</div>
				</div>
				{% set image = block.blockImage.one() %}
				{% if image %}
				<div class="cta-media">
					<img src="{{ image.getUrl() }}" alt="">
				</div>
				{% endif %}
				
				
			</div>
		</div>
	</div>
</div>
