<div class="hero-container {% if entry.changeView is defined and entry.changeView %} has-vector {% else %} has-pattern {% endif %}">
    <div class="hero {% if not entry.heroImage|length %}hero--center{% endif %}">
        <div class="hero__body">
            <div class="hero__breadcrumbs">
                {% include '_snippets/_navigation/_partials/_breadcrumbs.twig' %}
            </div>

            <h1 class="hero__headline">
                {{entry.title|striptags('<strong>')|raw}}
            </h1>

            {% if entry.intro|length %}
                {{entry.intro}}
            {% endif %}

            {% if entry.ctas|length %}
            <div class="buttongroup {% if not entry.heroImage|length %}buttongroup--center{% endif %}">
                {% include '_snippets/_hero/_partials/_callToActions.twig' %}
            </div>
            {% endif %}
        </div>

        {% if entry.heroImage|length %}
        {% set image = entry.heroImage.one() %}
            <div class="hero__media">
                <picture class="hero__picture">
                    <source media="(max-width: 959px)" srcset="{{image.getUrl('heroMedium')}} 2x" />
                    <source media="(min-width: 960px)" srcset="{{image.getUrl('heroLarge')}} 2x" />
                    <img class="hero__image" src="{{image.getUrl('heroLarge')}} 2x" alt="{{image.alt}}" loading="lazy" />
                </picture>
            </div>
        {% endif %}
    </div>
</div>