<div class="banner-container banner-primary">
	<div class="banner">
		<div class="banner-body">
			<div class="banner-home-info">
				<div>
					<div class="banner-headline">
						<h1 class="banner-leading home-leading">
							{{ entry.title }}
						</h1>
					</div>
					<div class="banner-text home-text">
						<p>
							{{ entry.intro}}
						</p>
					</div>
				</div>
			</div>
			<div class="banner-home-first">
				{% set ctas = entry.ctas.all() %}
				{% if ctas|length %}
					<div class="banner-buttongroup banner-first-top">
						{% for cta in ctas %}
							{{ cta.cta.getLink() }}
						{% endfor %}
					</div>
				{% endif %}


				<div class="banner-first-bottom ">

					{#		{% set ctablocks = entry.ctaTitle.all() %}#}

					{#		{% for cta in ctablocks %}#}

					{#			<h4 class="home-h4">#}
					{#				{{ cta.blockTitle }}#}
					{#			</h4>#}

					{#			{{ cta.blockLink.getLink() }}#}

					{#		{% endfor %}#}


				</div>

			</div>
{#			{{ include('_components/_banner/_partials/_bottom.html.twig') }}#}
		</div>
	</div>
</div>
