{% set relatedAssets = entry.bannerImage.all() %}

<div class="banner-container banner-primary">
	<div class="banner">
		<div class="banner-body">
			<div class="banner-breadcrumbs">
				{% if entry.level > 1 %}
					<ul class="list-clear">
						{% for crumb in entry.getAncestors() %}
							<a href="">
								{{ crumb.getLink() }}
							</a>

						{% endfor %}
					</ul>
				{% endif %}

                <p>(still hardcoded breadcrumbs () => render )</p>
				<ul class="list-clear">
					<li>
						<a href="">
							Startpagina
						</a>
					</li>
					<li>
						<img src="/front/images/svg/header/breadcrumb-arrow.svg" alt="breadcrumbs arrow icons"/>
					</li>
					<li>
						<a href="">
							Contact
						</a>
					</li>
				</ul>
			</div>


			<div class="banner-content">
				<div class="banner-main">
					<div class="banner-headline">
						<h1 class="banner-leading">
							{{ entry.title }}
						</h1>
					</div>
					<div class="banner-text">
						{{ entry.bannerIntro }}
					</div>
				</div>

				{% if relatedAssets|length %}
					{% for item in relatedAssets %}
						<div class="banner-media">
							<img src="{{ item.url }}" alt="{{ item.filename}}" width="440" height="220">
						</div>
					{% endfor %}

				{% else %}
					<div class="banner-background">
						<img src="/front/images/svg/header/header-circles.svg" alt="circles svg"/>
					</div>
				{% endif %}

			</div>
		</div>
	</div>
</div>
