<div class="contactinfo__item">
    {% if contactDetails.phone|length %}
    <a class="contactinfo__link" href="tel:{{contactDetails.phone}}">
        {{svg('@webroot/assets/icons/phone.svg')}}
        <div class="contactinfo__info">
            {{contactDetails.phone}}
        </div>
    </a>
    {% endif %}
    {% if contactDetails.email|length %}
    <a class="contactinfo__link" href="mailto:{{contactDetails.email}}">
        {{svg('@webroot/assets/icons/mail.svg')}}
        <div class="contactinfo__info">
            {{contactDetails.email}}
        </div>
    </a>
    {% endif %}
</div>