<div class="credits-container">
    <div class="credits">
        <div class="credits-start">
            <div class="creditsnav">
                <div class="creditsnav-body">
                    <div class="creditsnav-line">
                        <nav class="creditsnav">
                            <ul class="creditsnav-list">
                            {% set privacyPage = craft.entries.section("privacyPolicy").one() %}
                            {% if privacyPage %}
                             <li class="creditsnav-item">
                                    <a href="{{ privacyPage.getUrl() }}" class="creditsnav-link ">
                                        {{ privacyPage.title }}
                                    </a>
                                </li>
                            {% endif %}

                             {% set cookiePage = craft.entries.section("cookiepolicy").one() %}
                            {% if cookiePage %}
                             <li class="creditsnav-item">
                                    <a href="{{ cookiePage.getUrl() }}" class="creditsnav-link ">
                                        {{ cookiePage.title }}
                                    </a>
                                </li>
                            {% endif %}
                            
                            {% set termsPage = craft.entries.section("termsAndConditions").one() %}
                            {% if termsPage %}
                             <li class="creditsnav-item">
                                    <a href="{{ termsPage.getUrl() }}" class="creditsnav-link ">
                                        {{ termsPage.title }}
                                    </a>
                                </li>
                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="credits-end">
            <a href="" target="_blank" rel="noopener">
                webdesign © &lt;tag&gt;
            <!-- <img src="/front/images/sanmax-projects-logo-credits.png" alt="Logo Sanmax Projects"> -->
            </a>
        </div>
    </div>
</div>